
@{
    ViewBag.Title = "BazarManageIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This month Bazar </h2>


<table class="display" id="MyDataTable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                TotalBazar
            </th>
            <th>
                Image
            </th>
            <th>
                Date
            </th>
            <th>

            </th>


        </tr>
    </thead>

    <tbody></tbody>

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/BazarManage.js"></script>


    <script src="~/Scripts/DataTable/js/jquery.dataTables.js"></script>
    <link href="~/Content/DataTable/css/jquery.dataTables.css" rel="stylesheet" />
}