
@{
    ViewBag.Title = "BazarManageIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This month Bazar </h2>


<table class="display" id="MyDataTable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                TotalBazar
            </th>
            @*<th>
                Image
            </th>*@
            <th>
                Date
            </th>
            <th>

            </th>


        </tr>
    </thead>

    <tbody></tbody>

</table>

@*addedit Bazarinformation*@
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Edit Bazar Information</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv">


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>

            </div>

        </div>

    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/BazarManage.js"></script>


    <script src="~/Scripts/DataTable/js/jquery.dataTables.js"></script>
    <link href="~/Content/DataTable/css/jquery.dataTables.css" rel="stylesheet" />
}