
@{
    ViewBag.Title = "MillManageIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mill Manage Information</h2>


<div class="well">
    <a href="#" class="btn btn-primary" onclick="AddTodayMill(0)">Add Today Mill</a>
    @*<a href="#" class="btn btn-primary" onclick="AddEditCourse(0)">New</a>*@
</div>



<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Add Today Mills</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv">


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>

            </div>

        </div>

    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/MillManage.js"></script>
}